.skills{
    color: white;
    margin-left: 15vw;
    margin-top: -60px;
}

h5{
    font-family: 'Alex Brush';
    color: #0fff50;
    font-size: 30px;
    font-weight: 200;
    margin-left: -4vw;
    opacity: 1;
}

.section{
    margin-left: 3vw;
}